body
    font-family: 'Dosis', sans-serif
    font-weight: 500
    .box
        margin-top: 30px
        border-radius: 20px
        text-align: center
        border: 1px solid black
        height: 200px
        width: 200px
        background-color: #c05b03
        h1
            font-size: 40px
            color: #ffffff
            font-weight: 700
            border-radius: 100%
        .btn
            display: flex
            align-items: center
            justify-content: center
            border: 1px solid black
            height: 30px
            width: 50px
            border-radius: 20px
            background-color: #ffffff
        input
            margin: 10px 0
    .minibox
        text-align: center
        border: 1px solid black
        border-radius: 20px
        width: 120px
        hegiht: 100%
